html,body{
    background-image: url(imimimage/photo-1533628635777-112b2239b1c7.jpg);
}
.main-content{
    max-width: 1000px;
    margin:auto;
}
.box {
    box-sizing: border-box;
    border-radius: 50px;
    height: 1450px;
    width: 900px;
    background-color: lightgray;
    padding: 20px;
    margin: 30px;
    box-shadow: rgba(0,0,0,0.2) 3px 3px 10px;

}

.image{
    border-radius: 50px;
    width: 100%;
}
 
.button{
    box-sizing: border-box;
    border-radius: 50px;
    color: burlywood;
    background-color: black;
    padding: 10px;
    text-decoration: none;
}


